@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {

    /* Font */
    --font-playfair: "Playfair Display", sans-serif; 
    --font-inter: "Inter", sans-serif; 

    --text-nav-header: 11px;


    /* Color */
    --color-primary: #017D65;
    --color-muted: rgba(139, 144, 154, 1);
    --color-active-bg: rgba(243, 244, 248, 1);
    --color-active-text: rgba(35, 39, 46, 1);
    --color-secondary: rgba(66, 66, 66, 1);


}

body {
    background-color: #FAFCEB;
    color: #017D65;
}